{% extends 'base.html' %}

{% block title %}
    Listado de Productos
{% endblock %}

{% block content %}

    <h1>Listado de productos</h1>

        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a href="/products/create-products/" class="btn-primary">Crear producto</a>
            {% endif %}
        {% endif %}


        {% for product in products %}


        <div class="card" style="width: 18rem;">
            <img src="https://zecat-user-images-prod.s3.amazonaws.com/generic_products/mochila-up-tahg-ccucarda%2Cjpg-1658339156.jpg" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>

            {% if request.user.is_authenticated %}
                <p class="card-text">Su precio es ${{product.price}}</p>
            {% else %}
            <a class="enlace" href="http://localhost:8000/users/login/">Inicie sesión para ver los precios</a>
            {% endif %}
            <p class="card-text">Categoría: {{product.category}}</p>

            <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>



        {% endfor %}

{% endblock %}
